.container {
    padding: 60px 60px;
}

.header {
    color: white;
    background-color: #111111;
}

.name {
    font-size: 40px;
    font-weight: normal;
}

.description-icon {
    margin-right: 10px;
}

.content {
    background-color: white;
}


.section-title {
    text-align: center;
    color: #111111;
    font-weight: normal;
}

.responsive {
    max-width: 100%;
    height: auto;
  }