body {
    background-color: #404040;
    font-family: 'Roboto Condensed', sans-serif !important;
}

a {
    color: #3e6cb7 !important;
    text-decoration: none;
}

.profile {
    color: white;
    background-color: #373737;
    padding: 60px 120px;
}

.name {
    font-size: 50px;
    font-weight: bold;
}

.occupation {
    font-weight: lighter;
    font-size: 30px;
}

.description {
    font-size: 20px;
}

.resume {
    color: black;
    background-color: white;
    font-weight: lighter;
    font-size: 20px;
    padding: 60px 120px;
}

.section {
    padding-bottom: 50px;
}

.section-title {
    text-align: center;
}

.section-title-icon {
    font-size: 25px;
    margin: 10px;
}

.section-title-name {
    font-weight: bold;
}

.education-degree {
    font-weight: normal;
}

.publication-year {
    background-color: #373737;
    text-align: center;
    color: white;
    line-height: 0px;
}

.paper {
    margin: 0 0 120px 0;
}

.paper-title {
    font-weight: normal;
}

.paper-details {
    margin-left: 50px !important;
}

.paper-link {
    color: #373737 !important;
    margin: auto 0px !important;
}
 