.section {
    padding-bottom: 30px;
}

.section-title {
    text-align: center;
    color: #111111;
    font-weight: normal;
    font-size: 22px;
}

.title {
    font-weight: normal;
}

.year {
    font-size: 26px;
    background-color:#f2f2f2;
    text-align: center;
}

