<!DOCTYPE html>
<html lang="en">
<header>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="author" content="Felipe Fronchetti"/>
    <!-- CSS (Default) -->
    <link rel="stylesheet" type="text/css" href="css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS (Custom) -->
    {% if page.css %}
        <link rel="stylesheet" href="/css/{{ page.css }}" media="screen" type="text/css">
    {% endif %}
</header>
<body>
    <div class="profile container">
        <div class="row">
            <div class="picture three columns">
                <img src="imgs/profile.jpeg" class="u-max-full-width">
            </div>   
            <div class="description nine columns">
                <div class="name row">
                    FELIPE FRONCHETTI
                </div>
                <div class="occupation row">
                    Master's Student in Computer Science         
                </div>
                <div class="location row">
                    <i class="fas fa-map-marker-alt one column"></i>
                    <span class="eleven columns">São Paulo, Brazil</span>
                </div>
                <div class="university row">
                    <i class="fas fa-graduation-cap one column"></i>
                    <span class="eleven columns">University of São Paulo</span>
                </div>
                <div class="email row">
                    <i class="far fa-envelope one column"></i>
                    <span class="eleven columns">fronchetti@usp.br</span>
                </div>
            </div>            
        </div>
    </div>

    <div class="content container">
        {{ content }}

        <hr>
        <footer>
            Designed by Felipe Fronchetti / Last update: 22/02/2019
        </footer>
    </div>

</body>
</html>
