---
layout: default
---

    <!--
        SUMMARY
    -->
    <div class="section">
        <div class="section-title row">
            <div class="section-title-line four columns">
                <hr>
            </div>
            <div class="four columns">
                <i class="section-title-icon far fa-user-circle"></i>
                <span class="section-title-name">SUMMARY</span>
            </div>
            <div class="section-title-line four columns">
                <hr>
            </div>
        </div>
        <div class="section-body summary">
            Fronchetti is a Master's Degree student in Computer Science at the University of São Paulo (USP), Brazil.
            His research lies in the intersection between Software Engineering (SE) and Computer Supported Cooperative Work (CSCW). 
            He is co-(author) of 8 papers in top tier journals and conferences on Software Engineering, 
            working on the supporting of newcomers in Open Source Software communities.
        </div>    
    </div>

    <!--
        EDUCATION
    -->
    <div class="section">
        <div class="section-title row">
            <div class="section-title-line four columns">
                <hr>
            </div>
            <div class="four columns">
                <i class="section-title-icon fas fa-book"></i>
                <span class="section-title-name">EDUCATION</span>
            </div>
            <div class="section-title-line four columns">
                <hr>
            </div>
        </div>
        <div class="section-body education">
            {% assign degrees = site.degrees | sort: "start_year" | reverse %}

            <ul>
                {% for degree in degrees %}
                <li>
                    <span class="title">{{ degree.title }}</span>
                    <div class="row">
                        <span class="twelve columns">{{ degree.institution }}</span>
                        <span class="twelve columns">{{ degree.start_year }} - {{ degree.end_year }}</span>        
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>    
    </div>

    <!--
        EDUCATION
    -->
    <div class="section">
        <div class="section-title row">
            <div class="section-title-line four columns">
                <hr>
            </div>
            <div class="four columns">
                <i class="section-title-icon far fa-newspaper"></i>
                <span class="section-title-name">PUBLICATIONS</span>
            </div>
            <div class="section-title-line four columns">
                <hr>
            </div>
        </div>
        <div class="section-body publication">
            {% assign publication_years = site.papers | sort: "year" | group_by: "year" | reverse %}
            
            {% for year in publication_years %}
                <div class="publication-year">
                    {{ year.name }}
                </div>
                {% for paper in year.items %}
                    <div class="publication-list">
                        <ul>
                            <li class="paper">
                                <span class="title">{{ paper.title }}</span>
                                <div class="paper-details">
                                    <div class="row">
                                        <span class="paper-conference ten columns">{{ paper.published_at }}</span>
                                        {% if paper.preprint != undefined %}
                                        <a class="paper-link two columns" href="{{ paper.preprint }}" target="__blank"><i class="far fa-file-alt"></i> Paper</a>
                                        {% endif %}
                                    </div>
                                    <div class="row">
                                        <span class="paper-authors ten columns">{{ paper.authors }}</span>
                                        {% if paper.slides != undefined %}
                                        <a class="paper-link two columns" href="{{ paper.slides }}" target="__blank"><i class="fas fa-image"></i> Slides</a>        
                                        {% endif %}
                                    </div>
                                </div>
                            </li>
                        </ul>            
                    </div>
                {% endfor %}
            {% endfor %}
        </div>    
    </div>

    <!--
        AWARDS
    -->
    <div class="section">
        <div class="section-title row">
            <div class="section-title-line four columns">
                <hr>
            </div>
            <div class="four columns">
                <i class="section-title-icon fas fa-trophy"></i>
                <span class="section-title-name">AWARDS</span>
            </div>
            <div class="section-title-line four columns">
                <hr>
            </div>
        </div>
        <div class="section-body awards">
            {% assign awards = site.awards | sort: "year" | reverse %}

            <ul>
                {% for award in awards %}
                <li>
                    <span>{{ award.title }} ({{ award.year }})</span>
                </li>
                {% endfor %}
            </ul>
        </div>    
    </div>


    <!--
        FUNDING
    -->
    <div class="section">
        <div class="section-title row">
            <div class="section-title-line four columns">
                <hr>
            </div>
            <div class="four columns">
                <i class="section-title-icon fas fa-hands-helping"></i>
                <span class="section-title-name">FUNDING</span>
            </div>
            <div class="section-title-line four columns">
                <hr>
            </div>
        </div>
        <div class="section-body funding">
            {% assign fundings = site.fundings | sort: "start_year" | reverse %}
            <ul>
                {% for funding in fundings %}
                <li>
                    <span class="title">{{ funding.title }}</span>
                    <div class="row">
                        <span class="twelve columns">{{ funding.institution }}</span>
                        <span class="twelve columns">{{ funding.start_year }} - {{ funding.end_year }}</span>        
                    </div>
                </li>
                {% endfor %}     
            </ul>
        </div>    
    </div>

    <!--
        EXTENSIONS
    -->
    <div class="section">
        <div class="section-title row">
            <div class="section-title-line four columns">
                <hr>
            </div>
            <div class="four columns">
                <i class="fas fa-user-friends"></i>
                <span class="section-title-name">EXTENSION</span>
            </div>
            <div class="section-title-line four columns">
                <hr>
            </div>
        </div>
        <div class="section-body extension">
            {% assign extensions = site.extensions | sort: "start_year" | reverse %}

            <ul>
                {% for extension in extensions %}
                <li>
                    <span class="title">{{ extension.title }}</span>
                    <div class="row">
                        <span class="twelve columns">
                            <a href="{{ extension.url }}" target="__blank">{{ extension.website }}</a>
                        </span>
                        <span class="twelve columns">
                            {{ extension.description }}
                        </span>  
                        <span class="twelve columns">{{ extension.start_year }} - {{ extension.end_year }}</span>              
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>    
    </div>

    <!--
        TOOLS
    -->
    <div class="section">
        <div class="section-title row">
            <div class="section-title-line four columns">
                <hr>
            </div>
            <div class="four columns">
                <i class="fas fa-wrench"></i>
                <span class="section-title-name">TOOLS</span>
            </div>
            <div class="section-title-line four columns">
                <hr>
            </div>
        </div>
        <div class="section-body tools">
            {% assign tools = site.tools %}

            <ul>
                {% for tool in site.tools %}
                <li>
                    <span class="title">{{ tool.title }}</span>
                    <div class="row">
                        <span class="twelve columns">
                            <a href="{{ tool.url }}" target="__blank">{{ tool.website }}</a>
                        </span>
                        <span class="twelve columns">
                            {{ tool.description }}
                        </span>        
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>    
    </div>